/* General and legos */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Lato", sans-serif;
}

/* Clearfix */
.row::after {
  content: "";
  display: table;
  clear: both;
}

/* I'm not a button*/
.link-button {
    text-decoration: none;
    padding: 10px 10px;
    border-radius: 5px;
    font-weight: 700;
}

.orange-link {
  background-color: #fe775a;
  color: #FFF;
}

.white-link {
  background-color: #FFF;
  border: 1px solid #fe775a;
  color: #fe775a;
}

.big-link {
  padding: 20px 20px;
}

/* Fonts */
.darkGreyFont {
  color: #32495b;
}

.mediumFont {
  font-size: 16px;
}

.smallFont {
  font-size: 12px;
}

/* Containers */

.center-container {
  width: 80%;
  margin: 0 auto;
}

.text-container {
  width: 40%;
}

/* Header */

/*Language - Contact - Login bar*/
.login-bar {
  color: inherit;
  height: 75px;
  line-height: 75px;
  background-color: #f4f9fd;
}

.language {
  color: inherit;
  border-right: 2px solid #899397;
  padding-right: 20px;
}

.contact-us {
  color: inherit;
  padding-left: 20px;
}

.contact-us a {
  color: inherit;
  text-decoration: none;
  text-transform: capitalize;
}

.search-access-container {
  float: right;
}

.search-access-container > * {
  margin: 0 10px;
}

.search-ico {
  color: #02a6bf;
}

/* Nav */
nav {
  height: 75px;
  line-height: 75px;
  background-color: #FFF;
}

img#logo {
  height: 30px;
  vertical-align: middle;
}

.nav-links {
  float: right;
}

.nav-links li {
  margin: 0 10px;
  float: left;
  list-style-type: none;
}

.nav-links a {
  color: inherit;
  text-decoration: none;
  font-weight: 700;
}

.nav-links li > .fa-angle-down {
  padding-left: 10px;
}

/* Jumbotron */

.jumbotron {
  height: 700px;
  width: 100%;
  background-image: url("../img/jumbotron.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: right;
}

.jumbotron .text-container > * {
  margin-bottom: 20px;
}

h1#mainTitle {
  font-size: 50px;
  font-weight: 900;
  letter-spacing: -2px;
}

.jumbotron .descrFont {
  line-height: 22px;
}

.jumbotron .text-container a {
  display: inline-block;
}


/* Main */

main {
  background-color: #000;
  /* background-color: #f4f9fd; */
}


.section-title {
  /*test*/
  background-color: red;
  height: 400px;
}

.section-CRM {
  /*test*/
  background-color: blue;
  height: 200px;
}

.section-hubs {
  /*test*/
  background-color: green;
  height: 400px;
}

.section-leanGrow {
  /*test*/
  background-color: #00a4bc;
  height: 600px;
}

.section-getStarted {
  /*test*/
  background-color: yellow;
  height: 600px;
}

/* Footer */
footer {
  height: 600px;
  background-color: #32495b;
}
