/* General and legos */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Nunito", sans-serif;
}

/* Clearfix */
.row::after {
  content: "";
  display: table;
  clear: both;
}

/* I'm not a button*/
.link-button {
    text-decoration: none;
    padding: 10px 10px;
    border-radius: 5px;
    font-weight: 600;
}

.orange-link {
  background-color: #fe775a;
  color: #FFF;
}

.white-link {
  background-color: #FFF;
  border: 1px solid #fe775a;
  color: #fe775a;
}

/* Containers */

.center-container {
  width: 80%;
  margin: 0 auto;
}

.text-container {
  width: 40%;
  /*test*/
  background-color: rgba(255,255,255,.4);
}

/* Header */
header {
  /* test */
  background-color: red;
}

/*Language - Contact - Login bar*/
.login-bar {
  color: #32495b;
  height: 75px;
  line-height: 75px;
  background-color: #f4f9fd;
}

.language {
  float: left;
  color: inherit;
  border-right: 1px solid #899397;
  padding-right: 20px;
}

.contact-us {
  float: left;
  color: inherit;
  padding-left: 20px;
}

.contact-us a {
  color: inherit;
  text-decoration: none;
  text-transform: capitalize;
}

.search-access-container {
  float: right;
}

.search-ico {
  color: #02a6bf;
}

nav {
  /* test */
  height: 75px;
  background-color: blue;
  /* background-color: #FFF; */
}

.jumbotron {
  position: relative;
  /* test */
  height: 500px;
  background-color: green;
  /* background-color: #fff2ee */
}


/* Main */

main {
  background-color: #000;
  /* background-color: #f4f9fd; */
}


.section-title {
  /*test*/
  background-color: red;
  height: 400px;
}

.section-CRM {
  /*test*/
  background-color: blue;
  height: 200px;
}

.section-hubs {
  /*test*/
  background-color: green;
  height: 400px;
}

.section-leanGrow {
  /*test*/
  background-color: #00a4bc;
  height: 600px;
}

.section-getStarted {
  /*test*/
  background-color: yellow;
  height: 600px;
}

/* Footer */
footer {
  height: 600px;
  background-color: #32495b;
}
