/* General and legos */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Lato", sans-serif;
}

/* Clearfix */
.row::after {
  content: "";
  display: table;
  clear: both;
}
/* Floated column */
.column {
  float: left;
}

/* I'm not a button*/
.link-button {
    text-decoration: none;
    padding: 10px 10px;
    border-radius: 5px;
    font-weight: 700;
    display: inline-block;
}

.big-link {
  padding: 20px 30px;
}

.orange-link {
  background-color: #fe775a;
  color: #FFF;
}

.white-link {
  background-color: #FFF;
  border: 1px solid #fe775a;
  color: #fe775a;
}

/* Typography */
.darkGreyFont {
  color: #32495b;
}

.smallFont {
  font-size: calc(6px + 0.5vw);
}

.mediumFont {
  font-size: calc(10px + 0.5vw);
}

.mediumTitleFont {
  font-size: calc(20px + 0.5vw);
  font-weight: 900;
}

.largeTitleFont {
  font-size: calc(30px + 0.5vw);
  font-weight: 900;
}

.mediumSubtitleFont {
  font-size: calc(12px + 0.5vw);
  text-transform: uppercase;
  font-weight: 900;
}

/* Vertical align */
.valign-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

.valign {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

/* Containers */
.center-container {
  width: 80%;
  margin: 0 auto;
}

.text-container {
  width: 35%;
}

.box-image {
  width: 150px;
}

.box-section {
  background-color: #FFF;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0,0,0,.2);
}

/* Widths */

.w25 {
  width: 25%;
}

.w30 {
  width: 30%;
}

.w50 {
  width: 50%
}

.w70 {
  width: 70%;
}

.w100 {
  width: 100%;
}

/* Header */
.fixed-menu {
  position: fixed;
  z-index: 99;
  width: 100%;
  top: 0;
  left: 0;
}

/* Dropdown menus*/
.nav-dropdown-links {
  min-height: 300px;
  background-color: #FFF;
  line-height: normal;
  border: 1px solid #cbd6e2;
  position: absolute;
  left: 5px;
  display: none;
}

.nav-dropdown-links li {
  list-style-type: none;
}

.small-dropdown {
  min-height: initial;
  position: absolute;
  padding: 10px 10;
  z-index: 2;
  font-weight: bold;
}

.small-dropdown ul > li {
  padding: 5px 0;
}


/* In a div with height: 0, when borders meet they have triangular form. Borders that are useless have transparent background-color. The one we use has got a background color. */
.triangle-label-border {
    border-right: 11px solid transparent;
    border-left: 11px solid transparent;
    border-bottom: 11px solid #cbd6e2;
    height: 0;
    width: 0;
    position: absolute;
    top: -10px;
    right: 10px;
    z-index: 1;
}

.triangle-label {
  border-right: 10px solid transparent;
  border-left: 10px solid transparent;
  border-bottom: 10px solid #FFF;
  height: 0;
  width: 0;
  position: absolute;
  top: -9px;
  right: 11px;
  z-index: 2;
}

/*Language - Contact - Login bar*/
.login-bar {
  min-width: 700px;
  color: inherit;
  height: 75px;
  line-height: 75px;
  background-color: #f4f9fd;
  border-bottom: 1px solid #6e808d;
}

.separator {
  border-right: 3px solid #899397;
  padding-right: 20px;
}

.language {
  float: left;
  color: inherit;
  position: relative;
}

.language li {
  list-style-type: none;
}

.language a {
  text-decoration: none;
  color: inherit;
}

.login-bar .language:hover .nav-dropdown-links {
  display: block;
}

.language .small-dropdown {
  top: 74px;
  padding: 0 10px;
  font-weight: bold;
}

.contact-us {
  color: inherit;
  padding-left: 20px;
}

.contact-us a {
  color: inherit;
  text-decoration: none;
  text-transform: capitalize;
}

/* Container with login link */
.search-access-container {
  float: right;
}

.search-access-container li {
  float: left;
  list-style-type: none;
}

/* Links in login nav bar are setted in display inline
because of the high line-height (so they't aren't full bar height)*/
.search-access-container a {
  display: inline;
  text-decoration: none;
}

.search-access-container > * {
  margin: 0 10px;
}

.search-ico {
  color: #02a6bf;
}


/* Nav */

nav {
  min-width: 700px;
  height: 75px;
  line-height: 75px;
  background-color: #FFF;
}

/* Bigger dropdown are full nav width */
nav .center-container {
  position: relative;
}

img#logo {
  height: 30px;
  vertical-align: middle;
}

.nav-links {
  float: right;
}

.nav-links li {
  margin: 0 10px;
  min-width: 80px;
  float: left;
  list-style-type: none;
}

.nav-links a {
  color: inherit;
  text-decoration: none;
  font-weight: 700;
}

.nav-links li > .fa-angle-down {
  padding-left: 10px;
}

/* Small dropdowns take the li they refer width */
#about {
  position: relative;
}

#partners {
  position: relative;
}

.nav-links > li:hover .nav-dropdown-links {
  display: block;
}

.nav-dropdown-links .column.w30 {
  background-color: #f5f8fa;
  min-height: 300px;
}

/* Jumbotron */
.jumbotron {
  height: 700px;
  width: 100%;
  margin-top: 150px;
  position: relative;
  background-image: linear-gradient(45deg, #fef8f0,#fff3ee,#fff1ee);
}

.jumbotron img {
  position: absolute;
  right: 0;
  top: 0;
}

.image-greenFeet {
  height: 89px;
  width: 100%;
  background-color: #afebe4;
  border: 4px solid #33475b;
  border-left: 0;
  border-right: 0;
  position: absolute;
  bottom: 0;
  left: 0;
}

.jumbotron .text-container > * {
  margin-bottom: 30px;
}

.jumbotron .text-container {
  position: absolute;
  top: 80px;
  min-width: 350px;
}

h1#mainTitle {
  font-size: calc(40px + 0.5vw);
  font-weight: 900;
  letter-spacing: -2px;
}

.jumbotron .mediumFont {
  line-height: 28px;
}

/* Main */
main {
  background-color: #f4f9fd;
}

/* Section with title */
.section-title {
  padding: 30px 20%;
  text-align: center;
}

.section-title img {
  max-width: 250px;
}

.section-title .largeFont {
  text-transform: capitalize;
  font-weight: 900;
}

/* Section with horizontal block */
/* 30% block */

.section-CRM {
  padding: 80px 10%;
  margin-bottom: 30px;
}

.section-CRM .column.w30 {
  text-align: center;
}

.section-CRM .box-image {
  margin: 0 auto 30px;
}

/* 70% block */
.section-CRM .column.w70 .mediumTitleFont {
  margin-bottom: 30px;
}

.section-CRM .column.w70 p.mediumFont {
  line-height: 28px;
  margin-bottom: 15px;
}

.section-CRM .column.w70 .mediumSubtitleFont {
  display: inline-block;
  padding-right: 30px;
  margin-bottom: 15px;
}

.section-CRM hr {
  display: inline-block;
  width: 60%;
}

.section-CRM li {
  float: left;
  list-style-type: none;
  margin-right: 20px;
}

.section-CRM .fa-check-circle {
  margin-right: 5px;
  color: #fe775a;
}


/* Section with vertical boxes */

.section-hubs {
  margin: 30px 0;
}

.section-hubs .column.w30 {
  text-align: center;
  padding: 30px;
}

.section-hubs .top-column {
  min-height: 350px;
}

.middle {
  margin: 0 5%;
}

.section-hubs .box-image {
  min-height: 180px;
  margin: 0 auto;
}

/* Sets the margin between the elements inside the top and bottom part of the columns */
.section-hubs .top-column > *, .section-hubs .bot-column > * {
  margin-bottom: 30px;
}

.section-hubs hr {
  margin: 15px 0 15px;
}

.section-hubs .bot-column li {
  text-align: left;
  list-style-type: none;
}

.section-hubs .bot-column .fa-check-circle {
  margin-right: 5px;
  color: #fe775a;
}

.section-hubs .bot-column a {
  margin: 0 auto;
}

/* Lean and grow section */
.section-leanGrow {
  padding: 30px 0;
  background-image: linear-gradient(45deg, #00a6bb, #00bba7);
  color: #FFF;
}

.section-leanGrow .text-container {
  padding: 30px 0;
  width: 100%;
  text-align: center;
}

.section-leanGrow .largeTitleFont {
  margin-bottom: 20px;
}

.section-leanGrow .column {
  border-right: 1px solid #FFF;
}

.section-leanGrow .top-column, .section-leanGrow .bot-column {
  min-height: 200px;
  position: relative; /* .valign-center is absolute */
}

.section-leanGrow .top-column {
  border-bottom: 1px solid #FFF;
}

.section-leanGrow div.valign-center {
  text-align: center;
}

.section-leanGrow div.valign-center > * {
  margin-bottom: 10px;
}

.section-leanGrow .column:last-child {
  border-right: 0;
}

/* Section get started */

.section-getStarted {
  padding: 30px 0;
  background-color: #FFF;
}

.section-getStarted .text-container {
  width: 60%;
  margin: 0 auto;
}

.section-getStarted .logo-container {
  margin-left: 50px;
}

.logo-container li {
  list-style-type: none;
}

.section-getStarted .customer-logo {
  margin: 10px 20px 10px 0;
  width: calc(100% / 4 - 20px);
  height: 35px;
  float: left;
  position: relative;
}

.customer-logo > img {
  max-width: 100%;
}

.section-getStarted .column.w50 > .text-container {
  width: 80%;
  margin: 0;
}

.section-getStarted .column.w50 .largeTitleFont {
  text-transform: capitalize;
  margin-top: 80px;
}

.section-getStarted .column.w50 .text-container > * {
  margin-bottom: 30px;
}

.section-getStarted .column.w50 .mediumFont {
  line-height: 28px;
}

.section-getStarted .column.w50 img {
  height: 400px;
  float: right;
}

/* Footer */
footer {
  background-color: #32495b;
  color: #cbd6e2;
  padding-top: 30px;
}

footer .mediumFont {
  color: #FFF;
  margin-bottom: 20px;
}

footer li {
  list-style-type: none;
  margin-bottom: 15px;
}

footer li a {
  color: #dadee0;
  text-decoration: none;
}

footer .social-links li {
  float: left;
  margin-right: 30px;
}

footer .gray-link {
  background-color: #dadee0;
  color: #32495b;
}

footer .footer-languages {
  width: 40%;
  margin: 30px auto;
}

footer .footer-languages li{
  float: left;
  margin-right: 20px;
}

footer hr {
  border: 0;
  border-bottom: 1px solid #dadee0;
  padding-bottom: 20px;
}

.footer-links li {
  float: right;
  margin-left: 20px;
}

footer .copyright {
  padding: 30px 0;
  font-weight: bold;
}

/* HubBot */
/* Button fixed */
.fix-hubBot {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: #425b76;
  box-shadow: 0 0 5px rgba(0,0,0,.3);
}

.fix-hubBot .fa-comment-alt {
  font-size: 30px;
  color: #FFF;
}

/* Menu that opens when click or hover */

.icon {
  background-image: url("https://static.hsappstatic.net/bots-ui-app/ex/bot-avatar.jpg");
  background-size: cover;
  border-radius: 50%;
}

.fix-hubBot .help-menu {
  height: 460px;
  width: 360px;
  background-color: red;
  position: absolute;
  right: 0;
  bottom: 80px;
  border-radius: 10px;
  color: #425b76;
  display: none;
}

/* Title of the help menu*/
.help-menu .help-title {
  position: relative;
  height: 70px;
  background-color: #425b76;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.help-title .icon {
  height: 40px;
  width: 40px;
  margin-left: 10px;
  background-color: #FFF;
  border: 2px solid #FFF;
}

.status {
  position: absolute;
  border: 2px solid #FFF;
  height: 12px;
  width: 12px;
  border-radius: 50%;
  background-color: #00bda5;
  z-index: 2;
  left: 40px;
  top: 40px;
}

/* Chat */

.help-menu .help-chat {
  height: 230px;
  position: relative;
  background-color: #FFF;
  overflow-y: scroll;
  padding: 40px 10px 5px 60px;
}

.help-menu .help-policy {
  background-color: #FFF;
  border-top: 4px solid #eaf0f6;
  height: 80px;
  font-size: calc(4px + 0.5vw);
  padding: 10px;
}

.help-policy a {
  color: #425b76;
  text-decoration: none;
}

.help-policy a:hover {
  text-decoration: underline;
}

/* Form for chat */
.help-menu .help-form {
  background-color: #FFF;
  border-top: 2px solid #eaf0f6;
  height: 80px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.help-menu .mediumFont {
  color: #FFF;
  margin-left: 60px;
}

.help-chat .icon {
  width: 30px;
  height: 30px;
  position: absolute;
  top: 20px;
  left: 20px;
}

.help-chat .chatMsg {
  background-color: #eaf0f6;
  border-radius: 10px;
  border-top-left-radius: 0;
  padding: 10px;
  margin-bottom: 10px;
  display: inline-block;
}

.help-chat .help-link {
  color: #425b76;
  border: 1px solid #425b76;
  font-weight: normal;
  border-radius: 4px;
  margin-bottom: 10px;
}

#message_text {
  background-color: #eaf0f6;
  color: #9cb1c9;
  border: 0;
  width: 80%;
  height: 40px;
  border-radius: 10px;
  padding-left: 10px;
  font-size: 18px;
}

#message_text:focus {
  outline: 0;
}

.help-form .fa-paper-plane {
  font-size: 30px;
  color: #9cb1c9;
  margin-left: 10px;
}

.help-form .form-link {
  width: 50%;
  margin: 0 auto;
  text-align: center;
  font-size: calc(4px + 0.5vw);
  padding-top: 10px;
}

.form-link .fa-hubspot {
  color: #ff7a59;
}

.help-form a {
  color: #ff7a59;
  text-decoration: none;
}

.help-form a:hover {
  text-decoration: underline;
}

/* Simulates mouse click */
.veryBigCheckbox {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 999; /* I'm on the top */
  width: 60px;
  height: 60px;
  opacity: 0; /* But you can't see me John Cena tuturutu */
}

/*The checkbox (ID) selects the adiacent div (.card.front) */

input[id="mouseClick"]:checked ~ .help-menu {
  display: block;
}

input[id="mouseClick"]:hover ~ .help-menu {
  display: block;
}
